<div class="a_fondo">
    <div class="row servicio">

        <div class="s_imagen col-t-6 col-d-6">
            <img [src]="" class="img-fluid" [alt]="">
        </div>
        <div class="s_texto col-t-6 col-d-6">
            <h4 id="call1">Geam PVC</h4>
            <p id="ghost1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat ipsam laudantium necessitatibus commodi maiores, error, architecto nam repellendus facilis. Libero autem dolores, veniam quas commodi ea ipsa recusandae atque.Lorem ipsum
            </p>
        </div>

        <div class="btn">
            <button type="button" class="btn" [routerLink]="['/geamuriPVC']">Inapoi</button>

        </div>
    </div>

</div>