<main class="seccion contenedor">
    <h2 class="fw-300">Site Insecte</h2>
    <div class="contenedor-anuncios">
        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Site Insecte</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:cm</p>
                        </li>
                    </ul>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleSiteInsecte']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>
                </div>
        </div>

    </div>


</main>