<table class="table">
    <thead>
        <th class="imagen">Imagen</th>
        <th>Cod</th>
        <th>Produs</th>
        <th>Pret</th>
        <th>Culoare</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr>
            <th class="imagen"><img src="/images/blanco.png" alt=""></th>
            <td data-label="código">En stock</td>
            <td data-label="usaInterior"></td>
            <td data-label="precio">340</td>
            <td data-label="color">alba</td>
            <td data-label="dimensiuni">80cm</td>

        </tr>