<main class="seccion contenedor">
    <h2 class="fw-300">Usa Exterior Metalice YMCA</h2>

    <div class="contenedor-anuncios">

        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>

        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>

        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>


        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>

        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>

        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>

        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>


        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>

        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>


        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>




        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>


        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Usa Interior YMCA</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:80 cm</p>
                        </li>
                    </ul>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleUsaInterior']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>

                </div>
        </div>

    </div>


</main>