<body>
    <div class="contact-from">
        <div class="form-area">
            <div class="animated fadeInDown">
                <h2>Contacteaza</h2>
                <div class="row">
                    <div class="col-md-5 info">
                        <p> <i class="ion-ios-location-outline"></i>Str.Vlad Tepes,nr 30,Giurgiu,Giurgiu</p>
                    </div>
                    <div class="col-md-4 info">
                        <p><i class="ion-ios-email-outline"></i> usicalitatelc@gmail.com</p>
                    </div>
                    <div class="col-md-3 info">

                        <p><i class="ion-ios-telephone-outline"></i>Teléfono: 764132186
                        </p>
                        <p><i class="ion-ios-telephone-outline"></i>Telefon:765 234 825 </p>
                    </div>
                </div>

                <div class="contact">
                    <div class="map animated fadeInLeft">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2875.2143544802443!2d25.9666323!3d43.892827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ae66ff3e50111f%3A0xc909056fed71c8d!2zU3RyYWRhIFZsYWQgyJplcGXImSAzMCwgR2l1cmdpdSwgUnVtYW7DrWE!5e0!3m2!1ses!2ses!4v1593165342723!5m2!1ses!2ses"
                            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                    <form class="form animated fadeInUp">
                        <label>
                        <input type="email" class="email" id="email" required>
                        <div class="label email-text">Email</div>
                    </label>

                        <label>
                        <input type="text" class="subject" id="subject" required>
                        <div class="label subject-text">Tema</div>
                    </label>

                        <label>
                        <textarea class="help-box" id="helpBox" cols="30" rows="10" required></textarea>
                        <div class="label help-text">Cu ce va putem ajuta?</div>
                    </label>

                        <div class="submit-area">
                            <input type="submit" id="submit" value="Submit">
                            <i class="far fa-paper-plane"></i>
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>


















</body>