<body>
    <nav class="nav">
        <a href="#" class="nav__link">Casa si gradina</a>
        <div class="nav__link">
            Categorii
            <div class="nav__link-group">
                <a [routerLink]="['/articole']" class="nav__link">Decoratiuni</a>
                <a [routerLink]="['/articole']" class="nav__link">Iluminat</a>
                <a [routerLink]="['/articole']" class="nav__link">Camera de zi</a>
                <a [routerLink]="['/articole']" class="nav__link">Dormitor</a>
                <a [routerLink]="['/articole']" class="nav__link">Camera de studiu sau lucru</a>
                <a [routerLink]="['/articole']" class="nav__link">Camera copilului</a>
                <a [routerLink]="['/articole']" class="nav__link">Camera Bebelusului</a>
                <a [routerLink]="['/articole']" class="nav__link">Bucatarie</a>
                <a [routerLink]="['/articole']" class="nav__link">Baie</a>
                <a [routerLink]="['/articole']" class="nav__link">Textile</a>
                <a [routerLink]="['/articole']" class="nav__link">Gradina</a>
            </div>
        </div>
        <a [routerLink]="['/login']" class="nav__link">Post Nou</a>
        <a [routerLink]="['/login']" class="nav__link">comparte </a>
    </nav>
    <section id="empty"></section>

    <!-- section tours -->
    <section id="tours">
        <h1>Categorii Casa si Gradina </h1>
        <div class="tours-container">
            <div class="box-tour">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Camera de zi</h2>
                    <h3>tucos para mas luminosidad</h3>
                    <a [routerLink]="['/articulos']">Citeste mai mult</a>
                </div>
            </div>
            <div class="box-tour">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Dormitor</h2>
                    <h3>tucos para mas luminosidad</h3>
                    <a [routerLink]="['/articulos']">Citeste mai mult</a>
                </div>
            </div>
            <div class="box-tour">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Bucatarie</h2>
                    <h3>tucos para mas luminosidad</h3>
                    <a [routerLink]="['/articulos']">Citeste mai mult</a>
                </div>
            </div>
            <div class="box-tour">
                <img src="assets/images/portada.jpg" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Camera de zi</h2>
                    <h3>tucos para mas luminosidad</h3>
                    <a [routerLink]="['/articulos']">Citeste mai mult</a>
                </div>
            </div>
            <div class="box-tour">
                <img src="assets/images/portada.jpg" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Camera de zi</h2>
                    <h3>tucos para mas luminosidad</h3>
                    <a [routerLink]="['/articulos']">Citeste mai mult</a>
                </div>
            </div>

            <div class="box-tour">
                <img src="assets/images/portada.jpg" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Camera de zi</h2>
                    <h3>tucos para mas luminosidad</h3>
                    <a [routerLink]="['/articulos']">Citeste mai mult</a>
                </div>
            </div>
            <div class="box-tour">
                <img src="assets/images/portada.jpg" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Camera de zi</h2>
                    <h3>tucos para mas luminosidad</h3>
                    <a [routerLink]="['/articulos']">Citeste mai mult</a>
                </div>
            </div>
            <div class="box-tour">
                <img src="assets/images/portada.jpg" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Gradina</h2>
                    <h3>tucos para mas luminosidad</h3>
                    <a [routerLink]="['/articulos']">Citeste mai mult</a>
                </div>
            </div>




        </div>
    </section>

</body>