<main class="contenedor">
    <h2 class="fw-300">Conoce Sobre Sosotros</h2>
    <div class="contenido-nosotros">
        <div class="imagen">
            <img src="assets/images/portada.jpg
            " alt="Imagen Nosotros">
        </div>
        <div class="texto-nosotros">
            <blockquote>10 Años de Experiencia</blockquote>
            <p>Va stam la dispozitie cu informatii precise (telefonic sau online) despre produsele noastre, cat si despre procedeul de montaj al usilor, astfel incat puteti face o alegere potrivita pentru caminul dumneavostra, in deplina siguranta, evitandu-se
                astfel greseli care duc la cheltuieli inutile..</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure necessitatibus sapiente excepturi vitae autem nesciunt saepe magnam nostrum animi, placeat. Quos, distinctio ipsam laboriosam cum deserunt necessitatibus id hic veniam.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure necessitatibus sapiente excepturi vitae autem nesciunt saepe magnam nostrum animi, placeat. Quos, distinctio ipsam laboriosam cum deserunt necessitatibus id hic veniam.</p>

        </div>
    </div>
</main>

<section class="contenedor">
    <h4 class="fw-300">Más sobre nosotros</h4>

    <div class="iconos-nosotros">
        <div class="icono">
            <img [src]="['/assets/images/lc.jpg']" alt="Icono Seguridad">
            <h3>Garantia</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nam iure quos, aut voluptates cum.</p>
        </div>

        <div class="icono">
            <img src="img/icono2.svg" alt="Icono Precio">
            <h3>El Mejor Precio</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nam iure quos, aut voluptates cum.</p>
        </div>

        <div class="icono">
            <img src="img/icono3.svg" alt="Icono Tiempo">
            <h3>A tiempo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nam iure quos, aut voluptates cum.</p>
        </div>
    </div>
</section>