<body>
    <nav class="nav">
        <a href="#" class="nav__link">Lc Magazin</a>
        <div class="nav__link">
            Categorii
            <div class="nav__link-group">
                <a [routerLink]="['/articole']" class="nav__link">Usi Interior</a>
                <a [routerLink]="['/articole']" class="nav__link">Usi Exterior</a>
                <a [routerLink]="['/articole']" class="nav__link">Usi PVC</a>
                <a [routerLink]="['/articole']" class="nav__link">Geamuri PVC</a>
                <a [routerLink]="['/articole']" class="nav__link">Sobe Teracota</a>
                <a [routerLink]="['/articole']" class="nav__link">Accesorii Usi </a>
            </div>
        </div>

    </nav>
    <section id="empty"></section>

    <!-- section producto -->
    <section id="producto">
        <h1>Geamuri PVC </h1>
        <div class="producto-container">
            <div class="box-articulo">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Geam PVC</h2>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>

                    <p>Dimensiuni:80cm</p>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleGeamPVC']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>
                </div>
            </div>
            <div class="box-articulo">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Geam PVC</h2>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>

                    <p>Dimensiuni:80cm</p>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleGeamPVC']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>
                </div>
            </div>
            <div class="box-articulo">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Geam PVC</h2>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>

                    <p>Dimensiuni:80cm</p>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleGeamPVC']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>
                </div>
            </div>
            <div class="box-articulo">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Geamuri Pvc</h2>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>

                    <p>Dimensiuni:80cm</p>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleGeamPVC']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>
                </div>
            </div>
            <div class="box-articulo">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Geam PVC</h2>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>

                    <p>Dimensiuni:80cm</p>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleGeamPVC']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>
                </div>
            </div>
            <div class="box-articulo">
                <img src="assets/images/gris4.png" alt="Imagen Nosotros">
                <div class="box-text">
                    <h2>Geam PVC</h2>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>

                    <p>Dimensiuni:80cm</p>

                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleGeamPVC']">Detalii</button>
                    </div><br>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/productos']">Inapoi</button>

                    </div>
                </div>
            </div>

        </div>
    </section>

</body>