<body>

    <div id="login-box">
        <div class="right-box">

        </div>

        <div class="left-box">
            <h1> Autentifica-te</h1>

            <form>
                <p>Email</p>
                <input type="email" name="email" placeholder="Enter email">
                <p>Parola</p>

                <input type="password" name="password" placeholder="Enter Password" required>
                <input type="submit" name="login-button" value="Autentifica-te" [routerLink]="['/dashboard']">
                <br>
                <a [routerLink]="['/register']">Nu ai cont?</a>
            </form>
            <button class="social facebook" [routerLink]="['/dashboard']">Autentifica-te cu Facebook</button>
            <button class="social google" [routerLink]="['/dashboard']">Autentifica-te cu Google+</button>

            <button class="social google" [routerLink]="['/maria']">Maria</button>
            <div><a class=" " routerLinkActive="active" [routerLink]="['/termsofservices']">
                By login in, you accept the Terms of Service and Privacy Policy</a></div>
        </div>

    </div>

</body>