
<body>
    <table class="content-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>imagen</th>
                <th>categoria</th>
                <th>Nombre</th>
                <th>precio</th>
                <th>color</th>
                <th>dimensiuni</th>
                <th>borrar</th>
                <th>editar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <th>
                    <div><img [routerLink]="['/assets/images/nosotros.jpg']" alt="" width="100"></div>
                </th>
                <th>categoria</th>
                <th>Nombre</th>
                <th>precio</th>
                <th>color</th>
                <th>dimensiuni</th>
                <th>
                    <div class=" content ">
                        <div class="btnEditar">
                            <button [routerLink]="['/crearproducto']">Editar</button>
                        </div>
                    </div>
                </th>
                <th>
                    <div class=" content ">
                        <div class="btnEditar">
                            <button [routerLink]="['/crearproducto']">Borrar</button>
                        </div>
                    </div>
                </th>
            </tr>
            <tr class="active-row">
                <th>Id</th>
                <th>
                    <div><img [routerLink]="['/assets/images/nosotros.jpg']" alt="" width="100"></div>
                </th>
                <th>categoria</th>
                <th>Nombre</th>
                <th>precio</th>
                <th>color</th>
                <th>dimensiuni</th>
                <th>
                    <div class=" content ">
                        <div class="btnEditar">
                            <button [routerLink]="['/crearproducto']">Editar</button>
                        </div>
                    </div>
                </th>
                <th>
                    <div class=" content ">
                        <div class="btnEditar">
                            <button [routerLink]="['/crearproducto']">Borrar</button>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Id</th>
                <th>
                    <div><img [routerLink]="['/assets/images/nosotros.jpg']" alt="" width="100"></div>
                </th>
                <th>categoria</th>
                <th>Nombre</th>
                <th>precio</th>
                <th>color</th>
                <th>dimensiuni</th>
                <th>
                    <div class=" content ">
                        <div class="btnEditar">
                            <button [routerLink]="['/crearproducto']">Editar</button>
                        </div>
                    </div>
                </th>
                <th>
                    <div class=" content ">
                        <div class="btnEditar">
                            <button [routerLink]="['/crearproducto']">Borrar</button>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</body>
