<div class="wrapper">

    <header class="container-fluid">
        <div class="nav_top">
            <div class="container row">
                <ul class="contacto">
                    <h2 class="contacto__item">Str.Vlad Tepes,30, Giurgiu</h2>
                    <h2 class="contacto__item">L-V de 9.00-18.00</h2>
                    <h2 class="contacto__item">Telefono:764 132 186</h2>
                    <h2 class="contacto__item">Telefono:765 234 825</h2>
                </ul>
            </div>
        </div>
        <nav class="row ">
            <div class="container ">
                <div class="logo ">
                    <a href="index.html "> <img src="assets/images/lc.png "> </a>
                </div>
                <br>
                <div class="usicalitate ">
                    <div></div>
                    <div></div>
                    <div></div>

                </div>
                <ul class="menu ">

                    <a class=" " routerLinkActive="active" [routerLink]="['/busqueda']">

                        <input class="form-control" type="text" id="search" placeholder="Cauta">
                        <i class="fas fa-search"></i>

                    </a>


                    <li>
                        <div class="dropdown">

                            <button>Categorii</button>
                            <div>
                                <a class=" " routerLinkActive="active" [routerLink]="['/categorias']">Toate Categorille</a>
                                <a class=" " routerLinkActive="active" [routerLink]="['/usiInterior']">Usi Interior</a>
                                <a class=" " routerLinkActive="active" [routerLink]="['/usiExterior']">Usi exterior</a>
                                <a class=" " routerLinkActive="active" [routerLink]="['/acesoriiUsi']">Accesorii usi</a>
                                <a class=" " routerLinkActive="active" [routerLink]="['/geamuriPVC']">Geamuri pvc</a>
                                <a class=" " routerLinkActive="active" [routerLink]="['/usiPVC']">Usi Pvc</a>
                                <a class=" " routerLinkActive="active" [routerLink]="['/sobeTeracota']">Sobe Teracota</a>
                                <a class=" " routerLinkActive="active" [routerLink]="['/acesoriiUsi']">Acesorii Usi</a>
                                <a class=" " routerLinkActive="active" [routerLink]="['/siteInsecte']">Site Insecte</a>


                            </div>
                        </div>
                    </li>
                    <li><a class=" " routerLinkActive="active" [routerLink]="['/home']">Acasa</a></li>
                    <li><a class=" " routerLinkActive="active" [routerLink]="['/productos']">Magazin</a></li>
                    <li><a class=" " routerLinkActive="active" [routerLink]="['/about']">Despre noi</a></li>
                    <li><a class=" " routerLinkActive="active" [routerLink]="['/contacto']">Contacteaza</a></li>
                    <li><a class=" " routerLinkActive="active" [routerLink]="['/blog']">Blog</a></li>
                    <li><a class=" " routerLinkActive="active" [routerLink]="['/anuncios']">Anunturi</a></li>
                    <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Autentifica-te</a></li>

                </ul>
            </div>
        </nav>
        <div class="cauta" id="ctn-bars-search ">
            <input type="text " id="inputSearch " placeholder="¿Qué deseas buscar? ">
        </div>
    </header>
</div>