<body>
    <div class="page-container">

        <nav class="nav">
            <div class="nav__border"></div>
            <input type="submit" name="login-button" value="Inchide sesiune" routerLinkActive="active" [routerLink]="['/logout']">

                <div class="nav__icon-container">

                </div>

           
            <a routerLinkActive="active" [routerLink]="['/#home']" class="nav__link">
                <div class="nav__icon-container"></div>
                <span class="nav__label">Acasa</span>
            </a>

            <a routerLinkActive="active" [routerLink]="['/crearproducto']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Crear Acesorii</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/crearpuertaint']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Crear Puerta Interior</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/crearpuertaext']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Crear Puerta Exterior</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/crearpuertaPVC']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Crear Puerta PVC</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/crearventana']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Crear Geam PVC</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/crearsoba']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Crear Soba</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarproducto']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Editar Accesorii</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarpuertaint']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Editar Usa Interior</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarpuertaext']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Editar Usa Exterior</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarpuertapvc']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Editar Usa PVC</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarventana']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Editar Geam</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarsoba']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Editar Soba</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/creararticulo']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Crear Articulos</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarticulo']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Editar Articulos</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarsoba']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">crear Usuario</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/editarsoba']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Editar Usuarios</span>
            </a>
            <a routerLinkActive="active" [routerLink]="['/blog']" class="nav__link">
                <div class="nav__icon-container"> </div>
                <span class="nav__label">Categorii blog</span>
            </a>




        </nav>
        <main class="main">
        </main>
    </div>

</body>