<main class="seccion contenedor">
    <h2 class="fw-300">Usi Interior,Exterior,Geamuri PVC,Usi PVC,Sobe Teracota, Acesorii Usi</h2>
    <div class="contenedor-anuncios">
        <div class="anuncios" id="container">
            <img [src]="['/assets/images/gris4.png']" class="img-fluid" [alt]="" id="imagen" width="400">
            <div class="anuncio">
                <h3>Usi Interior YMCA</h3>
                <p>COD: Y316A </p>
                <p class="precio">300 euros</p>
                <ul class="iconos-caracteristicas">

                    <p>Dimensiuni:80cm</p>

                </ul>
                <div class="btn">
                    <button type="button" class="btn" [routerLink]="['/usiInterior']">Usi Interior YMCA</button>

                </div>
            </div>
        </div>
        <div class="anuncios">
            <img [src]="['/assets/images/gris4.png']" class="img-fluid" [alt]="" id="imagen" width="400">
            <div class="anuncio">
                <h3>Usi Interior YMCA</h3>
                <p>COD: Y316A </p>
                <p class="precio">300 euros</p>
                <ul class="iconos-caracteristicas">

                    <p>Dimensiuni:80cm</p>

                </ul>
                <div class="btn">
                    <button type="button" class="btn" [routerLink]="['/usiInterior']">Usi Interior YMCA</button>

                </div>
            </div>
        </div>
        <div class="anuncios">
            <img [src]="" class="img-fluid" [alt]="">
            <div class="anuncio">
                <h3>Geamuri PVC</h3>
                <p>COD: Y316A </p>
                <p class="precio">300 euros</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <p>Dimensiuni:cm</p>
                    </li>
                </ul>
                <div class="btn">
                    <button type="button" class="btn" [routerLink]="['/geamuriPVC']">Geamuri PVC</button>

                </div>
            </div>
        </div>

        <div class="anuncios">
            <img [src]="" class="img-fluid" [alt]="">
            <div class="anuncio">
                <h3>Usi PVC</h3>
                <p>COD: Y316A </p>
                <p class="precio">300 euros</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <p>Dimensiuni:cm</p>
                    </li>
                </ul>
                <div class="btn">
                    <button type="button" class="btn" [routerLink]="['/usiPVC']">Usi PVC</button>

                </div>
            </div>
        </div>
        <div class="anuncios">
            <img [src]="" class="img-fluid" [alt]="">
            <div class="anuncio">
                <h3>Sobe Teracota</h3>
                <p>COD: Y316A </p>
                <p class="precio">300 euros</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <p>Dimensiuni:cm</p>
                    </li>
                </ul>
                <div class="btn">
                    <button type="button" class="btn" [routerLink]="['/sobeTeracota']">Sobe Teracota</button>

                </div>
            </div>
        </div>
        <div class="anuncios">
            <img [src]="" class="img-fluid" [alt]="">
            <div class="anuncio">
                <h3>Acesorii Usi</h3>
                <p>COD: Y316A </p>
                <p class="precio">300 euros</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <p>Acesorii Usi</p>
                    </li>
                </ul>
                <div class="btn">
                    <button type="button" class="btn" [routerLink]="['/acesoriiUsi']">Acesorii Usi</button>

                </div>
            </div>
        </div>

        <div class="anuncios">
            <img [src]="" class="img-fluid" [alt]="">
            <div class="anuncio">
                <h3>Site Insecte</h3>
                <p>COD: Y316A </p>
                <p class="precio">300 euros</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <p>Site Insecte</p>
                    </li>
                </ul>
                <div class="btn">
                    <button type="button" class="btn" [routerLink]="['/siteInsecte']">Site Insecte</button>

                </div>
            </div>
        </div>
    </div>


</main>