<main class="seccion contenedor">
    <h2 class="fw-300">Producto</h2>
    <div class="contenedor-anuncios">
        <div class="anuncios">
            <li><img [src]="" class="img-fluid" [alt]="">
                <div class="anuncio">
                    <h3>Geam PVC</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:cm</p>
                        </li>
                    </ul>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleGeamPvc']">Usi Interior YMCA</button>

                    </div>
                </div>
        </div>

    </div>


</main>