<!--Header - menu-->


<ul id="box-search">
    <li><a class=" " routerLinkActive="active" [routerLink]="['/usiInterior']">Usi Interior</a></li>
    <li><a class=" " routerLinkActive="active" [routerLink]="['/usiExterior']">Usi Exterior</a></li>
    <li><a class=" " routerLinkActive="active" [routerLink]="['/usiPVC']">Usi PVC</a></li>
    <li><a class=" " routerLinkActive="active" [routerLink]="['geamuriPVC']">Geamuri PVC</a></li>
    <li><a class=" " routerLinkActive="active" [routerLink]="['/sobeTeracota']">Sobe Teracota</a></li>
    <li><a class=" " routerLinkActive="active" [routerLink]="['/acesoriiUsi']">Accesorii usi</a></li>
    <li><a class=" " routerLinkActive="active" [routerLink]="['/siteInsecte']">SiteInsecte</a></li>
    <li><a class=" " routerLinkActive="active" [routerLink]="['/acesorii']">Acesorii</a></li>
</ul>

<div id="cover-ctn-search"></div>


<!--Portada-->

<div class="container-all" id="move-content">


    <div class="blog-container-cover">
        <div class="container-info-cover">
            <h1>Categorii Produse</h1>
        </div>
    </div>

    <div class="container-post">

        <input type="radio" id="TOATE" name="categories" value="TOATE" checked>
        <input type="radio" id="usiInterior" name="categories" value="usiInterior">
        <input type="radio" id="usiExterior" name="categories" value="usiExterior">
        <input type="radio" id="usiPVC" name="categories" value="usiPVC">
        <input type="radio" id="geamuriPVC" name="categories" value="geamuriPVC">
        <input type="radio" id="sobeTeracota" name="categories" value="sobeTeracota">
        <input type="radio" id="siteInsecte" name="categories" value="siteInsecte">
        <input type="radio" id="acesoriiUsi" name="categories" value="acesoriiUsi">

        <div class="container-category">
            <label for="TOATE">TOATE</label>
            <label for="usiInterior">Usi Interior</label>
            <label for="usiExterior">Usi Exterior</label>
            <label for="geamuriPVC">Geamuri PVC</label>
            <label for="usiPVC">Usi PVC</label>
            <label for="sobeTeracota">Sobe Teracota</label>
            <label for="acesoriiUsi">Acesorii Usi</label>
        </div>

        <div class="posts">

            <div class="post" data-category="usiInterior">

                <div class="ctn-img">
                    <img src="img/" alt="">
                </div>
                <h2>Usi Interior</h2>
                <span>data</span>
                <ul class="ctn-tag">
                    <li>Usi Interior</li>

                </ul>
                <a class=" " routerLinkActive="active" [routerLink]="['/usiInterior']"><button>leer más</button></a>


            </div>

            <div class="post" data-category="usiExterior">

                <div class="ctn-img">
                    <img src="img/" alt="">
                </div>
                <h2>Usi Exterior</h2>
                <span>data</span>
                <ul class="ctn-tag">
                    <li>Usi Exterior</li>

                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

            <div class="post" data-category="geamuriPVC">

                <div class="ctn-img">
                    <img src="img/" alt="">
                </div>
                <h2>Geamuri PVC</h2>
                <span>data</span>
                <ul class="ctn-tag">
                    <li>Geamuri PVC</li>

                </ul>
                <a href="#"><button>leer más</button></a>


            </div>
            <div class="post" data-category="usiPVC">

                <div class="ctn-img"><img src="img/" alt=""></div>
                <h2>Usi PVC</h2>
                <span>data</span>
                <ul class="ctn-tag">
                    <li>Usi PVC</li>

                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

            <div class="post" data-category="sobeTeracota">

                <div class="ctn-img"><img src="img/" alt=""></div>
                <h2>Sobe Teracota</h2>
                <span>data</span>
                <ul class="ctn-tag">
                    <li>Sobe Teracota</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

            <div class="post" data-category="siteInsecte">

                <div class="ctn-img"><img src="img/" alt=""></div>
                <h2>Site Insecte </h2>
                <span>data</span>
                <ul class="ctn-tag">
                    <li>Site Insecte</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

            <div class="post" data-category="acesoriiUsi">

                <div class="ctn-img"><img src="img" alt=""></div>
                <h2>Acesorii Usi</h2>
                <span>data</span>
                <ul class="ctn-tag">
                    <li>Acesorii Usi</li>

                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

        </div>

    </div>


</div>