<header class="cont-slider">

    <section class="slider">

        <article class="slide uno">
            <span>Usa interior </span></article>
        <!--
     
     -->
        <article class="slide dos">
            <span>Usa exterior</span></article>
        <!--
     
     -->
        <article class="slide tres">
            <span>usa roble</span></article>
        <!--
     
     -->
        <article class="slide cuatro">
            <span>Ventanas aluminio</span></article>
        <!--
     
     -->
        <article class="slide cinco">
            <span>L&C</span></article>

    </section>

</header>