<footer class="site-footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
            <a class=" " routerLinkActive="active" [routerLink]="['/home']">Acasa</a>
            <a class=" " routerLinkActive="active" [routerLink]="['/categorias']">Categorii</a>
            <a class=" " routerLinkActive="active" [routerLink]="['/productos']">Magazin</a>
            <a class=" " routerLinkActive="active" [routerLink]="['/about']">Despre noi</a>
            <a class=" " routerLinkActive="active" [routerLink]="['/contacto']">Contacteaza</a>
            <a class=" " routerLinkActive="active" [routerLink]="['/blog']">Blog</a>
            <a class=" " routerLinkActive="active" [routerLink]="['/login']">Autentifica-te</a>
            <a class=" " routerLinkActive="active" [routerLink]="['/anuncios']">Anunturi</a>
            <a class=" " routerLinkActive="active" [routerLink]="['/busqueda']">Cauta</a>
        </nav>
        <p class="copyright">Irina Isabela Buca 2020 &copy;</p>

    </div>
</footer>