<main class="seccion contenedor">
    <h2 class="fw-300">Soba Teracota </h2>
    <div class="contenedor-anuncios">
        <div class="anuncios" id="container">
            <li><img [src]="" class="img-fluid" [alt]="" id="imagen" width="400">
                <div class="anuncio">
                    <h3>Soba Teracota</h3>
                    <p>COD: Y316A </p>
                    <p class="precio">300 euros</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <p>Dimensiuni:cm</p>
                        </li>
                    </ul>
                    <div class="btn">
                        <button type="button" class="btn" [routerLink]="['/detalleSobaTeracota']">Detalii</button>
                        <div class="btn">
                            <button type="button" class="btn" [routerLink]="['/sobeTeracota']">Inapoi</button>

                        </div>

                    </div>
                </div>
        </div>

    </div>


</main>